.about-container {
  height: 100vh;
  width: 100%;
}

.about-content {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-me {
  // filter: grayscale(100%);
  margin: 24px 48px;
  transition: box-shadow 0.3s ease-in;
}

.blue-box-shadow {
  box-shadow: 16px 16px 0px 0px #7DC6CC;
}

.about-info {
  margin: 24px 48px;
}

.about-title {
  width: fit-content;
}

.about-header {
  font-family: 'Right Grotesk';
  font-size: 7em;
  font-weight: 750;
  text-transform: uppercase;
  color: #7DC6CC;
  text-align: right;
}

.image-blue-line {
  width: 8em;
  height: 1.6em;
  margin-top: -16px;
  float: right;
}

.about-text {
  margin-top: 64px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 1.6em;
  text-align: initial;
  color: #7DC6CC;
}

.about-my-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 48px;
  a {
    color: #FFFFFF;
    transition: color 0.3s ease-in-out;
    font-size: 3.2em;
    &:hover {
      color: #7DC6CC;
    }
  }
}
