.about-container {
  padding-top: 125px;
  padding-bottom: 125px;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-me {
  height: 640px;
  margin: 24px 48px;
  transition: box-shadow 1s ease-in;
}

.blue-box-shadow {
  box-shadow: 16px 16px 0px 0px $light-blue;
}

.about-info {
  margin: 0px 48px 24px;
}

.about-title {
  width: fit-content;
}

.about-header {
  font-family: 'Right Grotesk';
  font-size: 7em;
  font-weight: 750;
  text-transform: uppercase;
  color: $light-blue;
  text-align: left;
}

.about-text {
  // margin-top: 64px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 1.6em;
  text-align: initial;
  color: $light-blue;
}

.about-my-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 48px;
  a {
    color: white;
    transition: color 0.3s ease-in-out;
    font-size: 3.2em;
    &:hover {
      color: $light-blue;
    }
  }
}

@media (max-width: 1200px) {
  .about-header {
    font-size: 6em;
  }
  .about-text {
    font-size: 1.4em;
  }
  .about-my-links {
    a {
      font-size: 2.7em;
    }
  }
}

@media (max-width:1020px) {
  .about-header {
    font-size: 5.5em;
  }
  .about-text {
    font-size: 1.2em;
  }
  .image-me {
    height: 480px;
  }
  .about-my-links {
    a {
      font-size: 2em;
    }
  }
}

@media (max-width: 880px) {
  .about-header {
    font-size: 4.8em;
  }
  .about-text {
    font-size: 1.1em;
  }
  .image-me {
    height: 440px;
  }
}
