body {
  background-color: #FFFFFF;
  transition: background-color 0.5s ease;
}

section {
  height: 100vh;
  margin-bottom: 500px;
}

.home-nav-container {
  display: none;
  height: 10%;
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.home-container {
  height: 125vh;
  width: 100vw;
  // background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.home-navbar {
  // height: 5%;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  /* margin-right: 45%; */
  margin-top: 25px;
  z-index: 0;
}

.home-navbar a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.home-navbar a:hover {
  color: #7DC6CC;
}

.home-title {
  position: absolute;
  top: 80px;
  left: 56px;
  z-index: 1;
}

.avatar-image {
  position: absolute;
  width: 656px;
  top: 80px;
  right: 56px;
}

#name {
  font-family: 'Right Grotesk';
  font-size: 7em;
  font-weight: 750;
  text-transform: uppercase;
}

#occupation {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.5em;
}
