.skills-container {
  padding-top: 125px;
  padding-bottom: 125px;
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-info {
  width: 25%;
  height: auto;
}

.skills-header {
  font-family: 'Right Grotesk';
  font-size: 7em;
  font-weight: 750;
  text-transform: uppercase;
  color: $light-blue;
  text-align: start;
  width: 100%;
  height: auto;
}

.skills-text {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 2.5em;
  text-align: start;
  color: $light-blue;
}

.skills-icons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skills-icon {
  width: 30%;
  p {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    color: $light-blue;
    visibility: hidden;
    transition: visibility 0.1s ease-in-out;
  }
  &:hover {
    p {
      visibility: visible;
    }
  }
}

.tech-icon {
  width: 100%;
  height: auto;
}
