.skills-container {
  height: 100vh;
  width: 100%;
  // background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.skills-content {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-info {
  width: 25%;
  height: auto;
}

.skills-header {
  font-family: 'Right Grotesk';
  font-size: 7em;
  font-weight: 750;
  text-transform: uppercase;
  color: #7DC6CC;
  text-align: start;
  width: 100%;
  height: auto;
}

.skills-text {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 2.5em;
  text-align: start;
  color: #7DC6CC;
}

.skills-icons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skills-icon {
  width: 30%;
  p {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    color: #7DC6CC;
    visibility: hidden;
    transition: visibility 0.1s ease-in-out;
  }
  &:hover {
    p {
      visibility: visible;
    }
  }
}

.tech-icon {
  width: 100%;
  height: auto;
}

@media (max-width:340px) {
  .skills-content {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .skills-info {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
  .skills-header {
    font-size: 3em;
    text-align: center;
  }
  .skills-text {
    font-size: 1.2em;
    text-align: center;
  }
  .skills-icons {
    width: 75%;
  }
  .tech-icon {
    width: 50%;
  }
}

@media (min-width: 341px) and (max-width: 575px) {
  .skills-content {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .skills-info {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
  .skills-header {
    font-size: 4em;
    text-align: center;
  }
  .skills-text {
    font-size: 1.25em;
    text-align: center;
  }
  .skills-icons {
    width: 60%;
  }
  .tech-icon {
    width: 40%;
  }
}

@media (min-width: 576px) and (max-width:767px) {
  .skills-content {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .skills-info {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }
  .skills-header {
    font-size: 4.5em;
    text-align: center;
  }
  .skills-text {
    font-size: 1.25em;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .skills-header {
    font-size: 6em;
  }
  .skills-text {
    font-size: 1.75em;
  }
}

@media (min-width: 992px) and (max-width:1150px) {

}
