.skills-container {
  padding-top: 125px;
  padding-bottom: 125px;
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-info {
  width: 25%;
  height: auto;
}

.skills-header {
  font-family: 'Right Grotesk CD';
  font-size: 7em;
  font-weight: 750;
  text-transform: uppercase;
  color: $light-blue;
  text-align: start;
  width: 100%;
  height: auto;
}

.skills-text {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 2.5em;
  text-align: start;
  color: $light-blue;
}

.skills-icons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skills-icon {
  width: 30%;
  p {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    color: $light-blue;
    visibility: hidden;
    transition: visibility 0.1s ease-in-out;
  }
  &:hover {
    p {
      visibility: visible;
    }
  }
}

.tech-icon {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .skills-header {
    font-size: 6em;
  }
  .skills-text {
    font-size: 2em;
  }
}

@media (max-width: 880px) {
  .skills-header {
    font-size: 5em;
  }
  .skills-text {
    font-size: 1.8em;
  }
}

@media (max-width: 768px) {
  .skills-header {
    font-size: 4em;
  }
  .skills-text {
    font-size: 1.6em;
  }
}

@media (max-width: 650px) {
  .skills-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skills-info {
    width: 60%;
  }
  .skills-icons {
    margin-top: 24px;
    width: 70%;
  }
  .skills-header {
    text-align: center;
  }
  .skills-text {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .skills-info {
    width: 70%;
  }
  .skills-icons {
    margin-top: 24px;
    width: 90%;
  }
}

@media (max-width: 300px) {
  .skills-info {
    width: 100%;
  }
  .skills-icons {
    margin-top: 24px;
    width: 100%;
  }
  .skills-header {
    font-size: 3em;
  }
  .skills-text {
    font-size: 1.4em;
  }
}
