.work-container {
  padding-top: 125px;
}

.work-info {
  padding-left: 48px;
}

.work-header {
  font-family: 'Right Grotesk';
  font-size: 5em;
  font-weight: 750;
  text-transform: uppercase;
  color: #1B1C1E;
  text-align: start;
  line-height: 90%;
  margin-bottom: 32px;
}

.work-text {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 2.5em;
  text-align: start;
  color: #1B1C1E;
  margin-bottom: 80px;
}

.profile-button {
  margin-top: 16px;
  padding: 16px 40px;
  background-color: #1B1C1E;
  text-decoration: none;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #FFFFFF 50%, #1B1C1E 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
  position: relative;
  z-index: 1;
}

.profile-button i {
  align-self: center;
}

.profile-button:hover, .profile-button:focus {
  background-position: left bottom;
  color: #1B1C1E;
}

.container-hat-gif {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: -600px;
}

.hat-gif {
  width: 70%;
}

@media (max-width: 1200px) {
  .work-header {
    font-size: 4em;
  }
  .work-text {
    font-size: 2.2em;
  }
  .container-hat-gif {
    margin-top: -400px;
  }
}

@media (max-width: 950px) {
  .container-hat-gif {
    margin-top: -300px;
  }
}

@media (max-width: 850px) {
  .work-header {
    font-size: 3em;
  }
  .work-text {
    font-size: 2em;
    margin-bottom: 40px;
  }
  .container-hat-gif {
    margin-top: -200px;
  }
  .profile-button {
    font-size: 1.2em;
    padding: 8px 20px;
  }
}

@media (max-width: 640px) {
  .work-header {
    font-size: 2.8em;
  }
  .work-text {
    font-size: 1.8em;
    margin-bottom: 32px;
  }
}

@media (max-width: 600px) {
  .work-info {
    padding: 0px 24px;
  }
  .container-hat-gif {
    margin-top: -100px;
    justify-content: center;
  }
  .hat-gif {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .hat-gif {
    width: 100%;
  }
  .work-header {
    font-size: 2.5em;
  }
  .work-text {
    font-size: 1.4em;
  }
  .profile-button {
    font-size: 1.1em;
    padding: 8px 16px;
  }
}

@media (max-width: 365px) {
  .work-header {
    font-size: 2.2em;
  }
  .work-text {
    font-size: 1.3em;
  }
  .profile-button {
    font-size: 1em;
    padding: 6px 12px;
  }
}
