.arrow-return {
  color: #1B1C1E;
  font-size: 2rem;
  position: sticky;
  top: 25px;
  left: 35px;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: #7DC6CC;
  }
}

.btn-black-rounded {
  border-radius: 100px;
  padding: 12px 32px;
  margin-bottom: 48px;
  color: white;
  background-color: black;
  border: 1px solid #fff;
  transition: all .2s ease;
  font-family: 'Source Sans Pro';
  &:hover {
    background-color: #fff;
    color: black;
  }
}
