@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Right Grotesk Compact';
  src: url('RightGrotesk-CompactBlack.otf');
}

@font-face {
  font-family: 'Right Grotesk Medium';
  src: url('RightGrotesk-Medium.otf');
}


@font-face {
  font-family: 'Right Grotesk CD';
  src: url('RightGrotesk-CompactDark.otf');
}


// @import "font-awesome";

@import "config/colors";
@import "components/buttons";
@import "components/form";
@import "pages/home";
@import "pages/projects";
@import "pages/about";
@import "pages/contact";
@import "pages/skills";
@import "pages/work";
